<html><body>
<script type="text/javascript">
function wsgen(dpid){
    var ws = new WebSocket("ws://{{server}}/switch/"+dpid);
    ws.onerror = function(e){
        console.log(e);
    }
    ws.onmessage = function(event){
        document.getElementById("id"+dpid).innerHTML += "<div>"+event.data+"</div>";
    }
}
</script>
{% for datapath in datapaths %}
<h3>Datapath={{ datapath }} events</h3>
<div id="id{{ datapath }}"></div>
<script type="text/javascript">
wsgen("{{datapath}}");
</script>
{% endfor %}
</body></html>